<%# 編集ボタン押下時は、それぞれの猫データと、その編集フォームを置換 %>
<%# 更新ボタン押下時は、その編集フォームと詳細画面を置換 %>
<%= turbo_frame_tag cat do %>
  <div class="row py-2 border-top">
    <div class="col-4 my-auto">
      <%= cat.name %>
    </div>
    <div class="col-4 my-auto">
      <%= cat.age %>
    </div>
    <div class="col-4">
      <div class="d-flex justify-content-end">
        <%# 編集link押下時に、turbo_frame_tag cat 同士の置換を指定 
        (それぞれの猫データと、その編集フォームを置換 ) %>
        <%= link_to "編集", edit_cat_path(cat), class: "btn btn-sm btn-outline-primary me-2" %>
        <%= link_to "削除", cat,  data: { turbo_method: :delete }, class: "btn btn-sm btn-outline-danger" %>
        <!-- button_toで書く場合 -->
        <!-- <%= button_to "削除", cat, method: :delete, class: "btn btn-sm btn-outline-danger" %> -->
      </div>
    </div>
  </div>
<% end %>
