<%= turbo_frame_tag cat do %>
  <%# turbo:submit-end（Turboのsubmit後）イベント発火時に、modal#close（モーダルを閉じる）を実行する %>
  <%= form_with(model: cat, data: { action: "turbo:submit-end->modal#close" }) do |form| %>
    <% if cat.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(cat.errors.count, "error") %> prohibited this cat from being saved:</h2>

        <ul>
          <% cat.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name %>
    </div>

    <div>
      <%= form.label :age, style: "display: block" %>
      <%= form.number_field :age %>
    </div>

    <div>
      <%# submit押下時に、turbo_frame_tag cat 同士の置換を指定 
      (編集フォームと詳細ページの要素を置換) %>
      <%= form.submit %>
    </div>
  <% end %>
<% end %>
